@import "/src/app/utils/shared.scss";

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.50);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  z-index: 1000;
backdrop-filter: blur(4px);
}

.container {
  width: 100%;
  background-color: $light-black;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

h1 {
  color: $white;
  font-size: 26px;
  margin-bottom: 25px;
}
p {
  color: $gray;
  letter-spacing: 0.12em;
  line-height: 1.5em;
  font-weight: normal;
}
#text-input {
  padding: 14px 16px;
  width: 100%;
  border: none;
  font-size: 20px;
  margin-top: 30px;
  cursor: pointer;
  transition: ease 300ms;
  color: $white;
  background-color: $black;
  border-radius: 7px;
  
  &:focus {
    border: none;
    outline: $twitch-purple 1px solid;
  }
}
h3 {
  color: $sniper;
}
.btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
}
button {
  display: block;
  border: none;
  background-color: none;
  color: $white;
  padding: 12px 0;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  transition: ease 300ms;
  cursor: pointer;
  text-transform: capitalize;
}
button:hover {
  filter: brightness(0.7);
}
button.cancel {
  background-color: $black-ops;
  margin-right: 6px;
}
button.confirm {
  margin-left: 6px;
  background-color: $zero;
}

.alert-confirm {
  grid-column: 2;
  background-color: $black-ops;
  
  &:hover {
    filter: brightness(0.7);
  }
}