@import "/src/app/utils/shared.scss";

#group {
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.group-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px 0;

  h3 {
    color: $gray;
    font-size: 15px;
  }

  .group-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;

    .group-name {
      font-size: 36px;
      color: $white;
      border-radius: 6px;
    }

    .channel-info-container {
      display: flex;
      flex-direction: column;
      align-items: end;

      .channels {
        font-size: 13px;
        color: $twitch-purple;
        margin-bottom: 4px;
      }

      .live {
        font-size: 11px;
        padding:3px 16px;
        border-radius: 999px;
        color: $white;
        background-color: $zero;
      }
    }
  }
}

.body {
  height: 100%;
  overflow-y: auto;
  background-color: $rock;
  padding: 14px;
  padding-right: 10px;

  &::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
      border-radius: 999px;
      background-clip: padding-box;
      border: 3px solid transparent;
  }
  &::-webkit-scrollbar-track {
      background-color: $rock;
      border-radius: 999px;
      box-shadow: inset 0px 0px 5px $rock;
  }

  ul {
    height: 1px;

    li:last-child {
      padding-bottom: 1px;
    }

    .channel-container {
      background-color: $black-ops;
      display: grid;
      grid-template-columns: 64px 1fr 50px;
      align-items: center;
      margin-bottom: 14px;
      height: 78px;
      transition: ease 300ms;
      opacity: 0;
      transform: translateY(20px);
      &.show {
        opacity: 1;
        transform: translateY(0px);
      }

      .thumnbnail-icon {
        justify-self: center;
        align-self: center;

        img {
          display: block;
          width: 35px;
          height: 35px;
          background-color: $light-gray;
          border-radius: 50%;

          &.online {
            box-shadow: 0 0 0 2px $twitch-purple;
          }
          &.offline {
            box-shadow: 0 0 0 3px $gray;
            filter: grayscale(1);
          }
        }
      }
      
      .text-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        padding: 10px 0;

        .channel-name {
          color: $white;
          font-size: 20px;
          border-radius: 6px;
        }
        .viewer-count {
          font-size: 13px;
          border-radius: 6px;
          display: flex;
          align-items: center;
  
          i {
            display: block;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: $sniper;
            margin-right: 4px;
          }
          .online {
            color: $white;
          }
          .offline {
            color: $gray;
          }
        }
      }

      .play-icon {
        justify-self: center;
        align-self: center;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &, svg {
          transition: ease 300ms;
        }

        &:hover {
          background-color: $twitch-purple;
          fill: $white !important;
        }
        
      }
    }
  }
}

.add-channels {
  padding-top: 14px;  

  button {
    width: 100%;
    height: 40px;
    background-color: $twitch-purple;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease 300ms;
    cursor: pointer;

    &:hover {
      filter: brightness(70%);
    }
  
    img {
      width: 150px;
    }
  }

}